img {
  max-width: 100%;
}

.logo {
  height: 15vh;
  width: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 3rem;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: eurostile-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* margin-top: 1rem; */
  margin-bottom: 3rem;
  color: #e3e3e3;
  font-size: 2.5vw;
  grid-column: 2/3;
}

h2 {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
}

h3,
h4,
footer {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
}

p {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,
footer {
  color: #e3e3e3;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  /* max-width: 1000px; */
  /* display: block; */
  margin: 0 auto;
  background-image: url(images/new_backroundpng.png);
}

.header {
  grid-column: 2/3;
}

main {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-gap: 20px;
  row-gap: 30px;
  margin-bottom: 50px;
}

button {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
  background-color: rgba(255, 0, 0, 0);
  text-decoration: none;
  border: none;
  text-align: center;
  font-size: 1rem;
}

article {
  grid-column: 2/3;
  padding: 25px;
  height: 16rem;
  width: 16rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 3px solid transparent;
}
article:hover {
  background-color: #9e8fff59;
  border: #9d8fff 3px inset;
  color: white;
}

.chosen {
  background-color: #9e8fff59;
  border: #9d8fff solid 3px;
  color: white;
}

nav {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  grid-gap: 25px;
  margin-top: 50px;
  overflow-x: auto;
  flex-wrap: wrap;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#desktop_nav.hidden {
  transform: translateX(0);
  opacity: 1;
}

.contact_link {
  color: #2a0764;
}

/************ POP-UP **************/
#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popup article {
  width: 35vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  padding: 30px;
  background-color: white;
  border: 5px solid black;
  border-radius: 5px;
  cursor: default;
  color: black;
}

#popup h3,
#popup h4 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #2a0764;
}

#close {
  position: fixed;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/************ FOOTER **************/

footer {
  display: grid;
  grid-column: 1/4;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 10rem;
  margin-bottom: 40px;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.3);
}

footer .bold {
  font-weight: bold;
  margin-bottom: 0;
}

footer .box_1 {
  grid-row: 1/2;
  text-align: center;
  padding: 0;
}

footer .box_1 p {
  margin-top: 0;
}

footer .box_2 {
  display: none;
}

footer .box_3 {
  grid-row: 2/3;
  text-align: center;
  padding: 0;
}

footer .box_3 p {
  margin-top: 0;
}

footer .box_4 {
  display: flex;
  grid-row: 3/4;
  padding: auto;
  place-content: center;
  gap: 20px;
}

footer .box_4 img {
  height: 15vw;
  width: auto;
  margin-bottom: 10px;
}

/************ BURGERMENU **************/
#burgerBtn {
  display: inline-block;
  color: #e3e3e3;
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  font-size: 3.5em;
  position: fixed;
  left: 5em;
}

.hidden {
  display: none;
  transform: scale(0);
  /* transform: translateX(-100%);
  opacity: 0; */
}

#burgerMenu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  text-align: right;
  position: fixed;
  left: 14em;
  line-height: 2.5em;
  background-color: #e3e3e373;
}

/******************************************/

/* CONCTACT */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 800px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.form {
  display: grid;
  place-content: center;
  gap: 0.5rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
}

.map {
  display: grid;
  place-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.send {
  border: 1px solid white;
  margin: 0 1px 1px 0;
  border-radius: 5px;
  height: 2.5em;
  width: 5em;
}

.back {
  border: 2px solid white;
  margin: 0 1px 1px 0;
  border-radius: 5px;
  height: 3em;
  width: 7em;
}

/**************** MEDIAQUERY FOR BODY MARGIN ON DESKTOP ***************/
@media only screen and (max-width: 1350px) {
  body {
    margin: 25px;
  }
}

/**************** MEDIAQUERY FOR POPUP ***************/
@media only screen and (max-width: 1000px) {
  #popup article {
    width: 40vh;
  }
}

/**************** MEDIAQUERY FOR HIDING THE BURGERMENU ***************/
@media only screen and (min-width: 600px) {
  #desktop_nav {
    display: flex;
    justify-content: center;
    grid-gap: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow-x: auto;
    flex-wrap: wrap;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  #burgerBtn {
    display: none;
  }

  #burgerMenu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #burgerMenu li {
    display: inline-block;
  }

  .logo {
    height: 20vh;
  }

  button {
    font-family: eurostile, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e3e3e3;
    border: 3px solid white;
    margin: 0 1px 1px 0;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 1rem;
    border-radius: 100%;
    height: 6em;
    width: 6em;
  }

  button:hover {
    background-color: #9e8fff59;
    border: #9d8fff solid 3px;
    color: white;
    cursor: pointer;
  }
}

/**************** MEDIAQUERY FOR FOOTER ***************/

@media (min-width: 700px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10rem;
    margin-bottom: 40px;
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.3);
  }

  footer .box_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
    padding-left: 6rem;
  }

  footer .box_1 p {
    margin-bottom: none;
  }

  footer .box_2 {
    display: unset;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  footer .box_2 img {
    height: auto;
    width: auto;
  }

  footer .box_3 {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
    padding-right: 6rem;
  }

  footer .box_4 {
    display: flex;
    place-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 20px;
  }

  footer .box_4 img {
    height: 4vw;
    width: auto;
  }
}
