img {
  max-width: 100%;
}

.logo {
  height: 25vh;
  width: auto;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: eurostile-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 7rem;
  color: #e3e3e3;
  font-size: 5vw;
}
h2 {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
}

h3,
h4,
footer {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
}

p {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,
footer {
  color: #e3e3e3;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-image: url(images/backround.svg);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
  margin-bottom: 50px;
}
article {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
article:hover {
  background-color: #9e8fff59;
  border: #9d8fff 3px inset;
  color: white;
}

.chosen {
  background-color: #9e8fff59;
  border: #9d8fff solid 3px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  grid-gap: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow-x: auto;
  flex-wrap: wrap;
}

button {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3e3e3;
  /* padding: 8px 30px; */
  border: 3px solid white;
  margin: 0 1px 1px 0;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 1rem;
  border-radius: 100%;
  height: 6em;
  width: 6em;
}

button:hover {
  background-color: #9e8fff59;
  border: #9d8fff solid 3px;
  color: white;
  cursor: pointer;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popup article {
  width: 35vw;
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  padding: 30px;
  background-color: white;
  border: 5px solid black;
  border-radius: 5px;
  cursor: default;
}
@media only screen and (max-width: 1000px) {
  #popup article {
    width: 40vh;
  }
}

#popup h3,
#popup h4 {
  display: flex;
  justify-content: center;
}
#close {
  position: fixed;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 1350px) {
  body {
    margin: 25px;
  }
}
